/*font-family: 'Oswald', sans-serif;
font-family: 'Anonymous Pro', monospace;*/
body{
  font-size: 16px;
}
h1 { font-size: 50px;}
h2 { font-size: 42px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}
h1,h2,h3,h4,h5,h6{
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.uppercase{
  text-transform: uppercase;;
}

.button {
  margin: 1em;
  background-color: #000; /* Green */
  border: none;
  color: #ffb7c5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.App {
  text-align: center;
}

.App-logo {
  /*float: left;*/
  width: 125px;
}

#our-story-container{
  min-height: 100vh;
  padding: 2em 15%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
 /* justify-content: center;*/
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.heaf{

}

@keyframes App-logo-spin {
  from {
    transform: opacity(0%);
  }
  to {
    transform: opacity(100%);
  }
}

/*CTA*/
*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent {
   
}  

.parent:after
{
  clear: both;
  content: "";
  display: block;
}
    

.column {
  display: block;
  float: left;
  width: 100%;
  color: #000;
  padding: 10px;
  font-family: Arial;
  font-size: 45px;
  height: 100vh;
}

.main {
  background: #fff;
  padding: 1em;
}
.sidebar {
  background-image: url('./assets/splash.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.welcome-desc{
  clear: both;
  padding: 1em 0;
}

@media only screen and (min-width: 641px){
  .column {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px){
  .main {
    width: 50%;
  }
  .sidebar {
    width: 50%;
  }
}
