/* -----------------------------------
GLOBALS
----------------------------------- */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

body {
 font-family: 'Lato', sans-serif;
 font-weight: 300;
}


h1 { font-size: 50px;}
h2 { font-size: 42px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}
h1,h2,h3,h4,h5,h6{
  font-family: 'Prata', serif;
  letter-spacing: 5px;
}
hr {
    height: 1px;
    color: #d2d3d8;
    background: #d2d3d8;
    font-size: 0;
    border: 0;
}
a{
  font-size: 1.3em;
  font-family: 'Prata', serif;
  letter-spacing: 1px;
  color: #b58854;
  padding: 10px 0px;
  display: block;
}
.card{
  background: rgba(255,255,255,0.93);
  padding: 3em;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.rnb-sec{
  width: 100%;
  min-height: 100vh;
  padding: 15vh 0px;
}

#airport-sec{
  margin-top: 3em;
}

#social-bar-bg{
  background: #e2ccce;
  background-image: url('./assets/agate-pink.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 3em 0px;
}
.title-header{
  text-transform: uppercase;
  color: #b58854;
  font-size: 15px;
  margin-bottom: -25px;
}

#us-header{
  font-size: 5em;
  line-height: 70px;
  /*transform: rotate(-5deg);*/
}

p{
font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.main-section{
  min-height: 100vh;
  padding: 15vh 0;
}
.uppercase{
  text-transform: uppercase;;
}

.button {
  margin: 1em;
  background-color: #D8BC7B; 
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8.5px 25px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* -----------------------------------
MAIN Navigation bar
----------------------------------- */
.Navbar {
  display: flex;1111
  height: 65px;
  padding: 0px 2em;
  font-family: sans-serif;
  color: blue;
  position: fixed;
  width: 100%;
}
.Navbar__Link {
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.Navbar__Items {
  display: flex;

}
.Navbar__Items--right {
  margin-left:auto;
}
.Navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left:0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}

/* -----------------------------------
MAIN
----------------------------------- */
#main-nav{
  float: left;
  padding: 2em;
  height: 60px;
}
.main-sec{
  background: linear-gradient(#fff, rgba(255,255,255,0.43), #fff), url('./assets/splash.jpg') no-repeat center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ceremony-bg{
  background: linear-gradient(#fff, rgba(255,255,255,0.63), #fff), url('./assets/stv.jpeg') no-repeat center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#cta-left,#cta-right {
  display: inline-block;
  vertical-align: middle;
}

#cta-right{
  /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2);*/
}

#cta-left{
  text-align: center;
  width: 37%;
  background-image: url('./assets/agate-pink.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 3em 3em;
  position:relative;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#cta-right{
  margin-left: -50px;
  width: 40%;
  height: 90vh;
  background-image: url('./assets/splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -20px 0px -20px -50px;
}

#getting-married{
  margin: 0 50px 2em;
  padding: 2px 0px;
  border-top: 1px solid #052236;
  border-bottom: 1px solid #052236;
}

#getting-married p{
  font-family: 'Prata', serif;
  font-size: 18px;
}

/* -----------------------------------
CTA
----------------------------------- */
.column {
  display: block;
  float: left;
  width: 100%;
  color: #000;
  height: 100vh;
}

.main {
  text-align: center;
  background-image: url('./assets/agate-pink.png');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 2em;
}

.sidebar {
  background-image: url('./assets/splash.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*COUNTDOWN*/
.countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.countdown-col{
  display: inline-block;
}

.countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.countdown-col-element strong{
  font-size: 30px;
}

.countdown-col-element span{
  font-size: 20px;
}


/* -----------------------------------
OUR STORY
----------------------------------- */
#our-story-container{
  min-height: 100vh;
  padding: 2em 15%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.welcome-desc{
  clear: both;
  padding: 1em 0;
}

/*Story*/
#our-story-pic{
  height: 75vh;
  transform: rotate(3deg);
  background: url('./assets/rnb-brew.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#our-story-pic:hover{
  transform: scale(1.1);
  transition-duration: .5s;
}

#big-day-bg{
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('./assets/stv.jpeg');
    background-position: 70% 35%;
}

#accomodations-bg{
  
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  font-size: 1.5em;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  font-size: 24px;
}
.tab label {
  position: relative;
  display: block;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content p {
  margin: 1em 0px;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 200vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}



@media only screen and (min-width: 641px){
  .column {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px){
  .main {
    width: 50%;
  }
  .sidebar {
    width: 50%;
  }
}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
   #cta-left{
          width: 95%;
        }
        #cta-right{
          display: none;
        }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 #cta-left{
          width: 95%;
        }
        #cta-right{
          display: none;
        }
  
}